body{
    background-color: #0a3d5c;
    
    
}
    h1{ font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(135, 201, 240);
    }
 a{
    color: rgb(255, 255, 255);
 }
