@charset "UTF-8";

*{
    margin: 0;
    padding: 0;

}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}

header{
    background-color: blueviolet;
}

header h1{
    text-align: center;
}

menu ul{
    background-color: brown;
    list-style-type:none;
}

menu li{    
    background-color: burlywood;
    display: inline-block;
    padding: 10px;
}

article{
    text-align: center;
    display: block;
    width: 600px;
    margin: auto;
}